.footer {
  text-align: center;
  width: 100%;
  max-width: 984px;
  margin: 92px auto 24px;
  color: #ffffff;
}

.footer__copyright {
  margin: 0;
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}


@media screen and (max-width: 1024px) {
  .footer {
    margin-top: 88px;
  }
  .footer__copyright {
    font-size: 14px;
    line-height: 0.88;
  }
}

@media screen and (max-width:768px) {
  .footer {
    margin-top: 72px;
  }


}

@media screen and (max-width: 320px) {
  .footer {
    margin-top: 64px;
  }
  .footer__copyright {
    font-size: 14px;
    line-height: 1;
  }
}

