.footer {
  text-align: center;
  width: 100%;
  max-width: 984px;
  margin: 92px auto 24px;
  color: #ffffff;
}

.footer__copyright {
  margin: 0;
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}

@media screen and (max-width: 1100px) {
  .footer {
    margin-top: 88px;
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    margin-top: 88px;
  }
}

@media screen and (max-width: 665px) {
  .footer {
    margin-top: 80px;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    margin-top: 64px;
  }

  .footer__copyright {
    font-size: 12px;
    line-height: 1.17;
  }
}

@media screen and (max-width: 544px) {
  .footer {
    margin-top: 72px;
  }
}