.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  max-width: 984px;
  margin: 0 auto;
  padding: 34px 0 0;
  overflow: hidden;
  color: #ffffff;
}

.header__logo {
  width: 254px;
  height: 70px;
  opacity: 1;
  object-fit: contain;
  margin-bottom: 48px;
}

.header__title {
  max-width: 720px;
  margin: 0 0 32px;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
}

.header__subtitle {
  margin: 0 0 64px;
  max-width: 720px;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
}

.header__image {
  width: 100%;
  max-width: 984px;
  height: auto;
  object-fit: cover;
  display: block;
}

@media screen and (max-width: 1100px) {
  .header__title {
    font-size: 80px;
    line-height: 1.05;
  }

  .header__subtitle {
    font-size: 28px;
    line-height: 1.21;
  }
}

@media screen and (max-width: 1024px) {
  .header__title {
    font-size: 72px;
    line-height: 1.06;
  }

  .header__subtitle {
    font-size: 24px;
    line-height: 1.17;
  }
}

@media screen and (max-width: 665px) {
  .header__title {
    font-size: 64px;
    line-height: 1.06;
  }

  .header__subtitle {
    font-size: 26px;
    line-height: 1.23;
  }
}

@media screen and (max-width: 600px) {
  .header__title {
    font-size: 40px;
    line-height: 1.1;
  }

  .header__subtitle {
    font-size: 16px;
    line-height: 1.25;
  }

  .header__logo {
    width: 200px;
    height: 55px;
  }
}


@media screen and (max-width: 544px) {
  .header__title {
    font-size: 58px;
    line-height: 1.07;
  }

  .header__subtitle {
    font-size: 24px;
    line-height: 1.25;
  }
}

@media screen and (max-width: 470px) {

  .header__title {
    font-size: 52px;
    line-height: 1.08;
  }

  .header__subtitle {
    font-size: 22px;
    line-height: 1.27;
  }

  .header__logo {
    width: 220px;
    height: 60px;
  }
}