.intro {
  width: 100%;
  max-width: 830px;
  margin: 92px auto 0;
  padding: 0 16px;
  box-sizing: border-box;
  color: #ffffff;
}

.intro__title {
  margin: 0 0 40px;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
}

.intro__quote {
  margin: 0 0 40px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.42;
  letter-spacing: 0;
}

.intro__author {
  margin: 0 0 32px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.42;
  text-align: right;
}

.intro__text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
}

@media screen and (max-width: 1024px) {
  .intro__title {
    font-size: 54px;
    line-height: 1.07;
  }

  .intro__quote,
  .intro__author {
    font-size: 24px;
    line-height: 1.42;
  }
}

@media screen and (max-width: 768px) {
  .intro__title {
    font-size: 45px;
    line-height: 1.07;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    margin-top: 64px;
  }

  .intro__title {
    font-size: 32px;
    line-height: 1.09;
  }

  .intro__quote,
  .intro__author {
    font-size: 24px;
    line-height: 1.42;
  }
}